/* mobile first */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}
/* template.html */
header {
  background-color: rgb(46, 46, 190);
}
nav {
  /* border: 2px solid red; */
  padding-top: 1rem;
  /* width: 90%; */
  /* margin: 0 auto; */
  /* background-color: rgb(46, 46, 190); */
  display: flex;
  justify-content: center;
  gap: 1rem;
}

nav button {
  padding: 0.5rem 0.75rem;
  font-size: 1.5rem;
  border-radius: 100px;
}

nav button:focus {
  background-color: rgb(2, 114, 2);
  color: white;
}

#content {
  /* background-image: url(./images/1.\ The\ Classic\ Signature\ Burger.png); */
}
#content div {
  background-color: rgb(149, 173, 201);
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  /* border: 2px solid red; */
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#restaurantName,
#restaurantDescription,
#content #hours,
#content #location {
  /* border: 2px solid red; */
  background-color: gainsboro;
  padding: 2rem 1rem;
  text-align: center;
  margin-bottom: 2rem;
}

#hoursHeading,
#locationHeading {
  /* border: 2px solid red; */
  /* background-color: gainsboro; */
  padding-bottom: 1rem;
  /* text-align: center; */
}

/* Menu page */

.menuContainer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.menuCard {
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.itemPrice {
  /* border: 2px solid red; */
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 900;
  font-size: x-large;
}
.itemDescription {
  padding-inline: 1.2rem;
}
